<div class="home-page">


  <div class="header">
    <p>Contacts</p>
  </div>

  <button class="btn btn-light" (click)="logoff()">&nbsp; logoff &nbsp;</button>

  <div class="container">

    <div class="row">

      <div class="col">
        <div class="form">
          <form>

            <div class="form-group" *ngIf="!formType">
              <label for="name">Name</label>
              <input type="email" class="form-control" name="name" [(ngModel)]="contact.name" placeholder="Enter a name...">
            </div>

            <div class="form-group" *ngIf="!formType">
              <label for="name">Birth</label>
              <input type="date" class="form-control" name="birth" [(ngModel)]="contact.birth" placeholder="Enter birth date...">
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="contact.email" placeholder="Enter email...">
            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="tel" class="form-control" name="phone" [(ngModel)]="contact.phone" placeholder="(099)9 9999-9999" (keyup)="maskPhone($event)">
            </div>

            <button class="btn btn-primary" (click)="saveNewContact(contact)" *ngIf="!isEdit">&nbsp; Save &nbsp;</button>
            <button class="btn btn-success" (click)="editContact(contact)" *ngIf="isEdit">&nbsp; Edit &nbsp;</button>
            <button class="btn btn-danger" (click)="cancelEdit()" *ngIf="isEdit">&nbsp; Cancel &nbsp;</button>

          </form>

          <br>
          <div class="alert alert-danger" role="alert" *ngIf="validation">
            <p>{{ errorMessage }}</p>
          </div>

        </div>
      </div>

      <div class="col">

        <div class="contact" *ngFor="let con of contacts; let i = index">
          <div class="row">
            <div class="col">
              <p class="name">{{ con.name }}</p>
              <p>{{ con.email }}</p>
              <p>{{ con.phone }}</p>
              <p>{{ con.birth | date: 'dd/MM/yyyy' }}</p>
            </div>

            <div class="col">
              <div class="btn-painel">
                <button class="btn btn-success" (click)="sendToEdit(con, i)">edit</button>
                <button class="btn btn-danger" (click)="deleteContact(con, i)">remove</button>
              </div>
            </div>
          </div>
        </div>

      </div>

  </div>
</div>
